<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatting.chatting.member.mapper.MemberMapper">
    <select id="findAll" resultType="Member">
        SELECT ID
             , NAME
             , PASSWORD
          FROM MEMBER
    </select>

    <insert id="save" parameterType="Member">
        INSERT INTO MEMBER (ID, NAME, PASSWORD)
        VALUES ( #{id}, #{name}, #{password} )
    </insert>

    <select id="findById" resultType="Member">
        SELECT ID
             , NAME
          FROM MEMBER
         WHERE ID = #{id}
    </select>
</mapper>