<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>chatting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){

        });

        function createRoom() {

        }

    </script>
</head>
<body>
    <div class="wrap">
        <div class="container">
            <div class="box">
                <div>
                    <h3>채팅방 리스트</h3>
                </div>
                <div>
                    <ul>
                        <li><a href="/comm/room/enter/1">채팅방1</a></li>
                        <li><a href="/comm/room/enter/2">채팅방2</a></li>
                        <li><a href="/comm/room/enter/3">채팅방3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>